@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e4e9f7; /* Background color for the entire page */
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 70px;
}

.sidebar.close .logo_name {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.sidebar .logo-details {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    transition: padding-left 0.3s ease;
    padding-left: 10px;
}

/*.sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 70px;
    text-align: center;
    line-height: 50px;
}*/

.sidebar .logo-img {
    height: 50px;
    width: auto;
    transition: all 0.3s ease;
}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
    transition: opacity 0.3s ease;
}

.sidebar.close .logo-details .logo_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
    height: calc(100% - 100px);
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #1d1b31;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 70px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 13px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 13px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.home-section {
    position: relative;
    background: #e4e9f7;
    height: 100vh;
    left: 230px;
    width: calc(100% - 230px);
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.sidebar.close ~ .home-section {
    left: 70px;
    width: calc(100% - 70px);
}

.home-section .home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-section .home-content .bx-menu {
    color: #11101d;
    font-size: 25px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.profile-menu {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-menu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #11101d;
}

.dropdown-menu {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #11101d;
    border-radius: 4px;
    overflow: hidden;
    min-width: 200px;
    max-width: 250px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    visibility: hidden;
}

.dropdown-menu a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #1d1b31;
    color: #ffffff;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.profile-menu .dropdown-menu .profile-details img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-menu .dropdown-menu .profile-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-bottom: 1px solid #1d1b31;
}

.profile-menu .dropdown-menu .profile_name {
    color: white;
    font-size: 14px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Common styles for both dropdown-item links and buttons */
.dropdown-item {
    color: white;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.dropdown-item i {
    margin-right: 10px;
}

.dropdown-item:hover {
    background-color: #1d1b31;
    color: white;
}

.logout-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

.logout-btn:hover {
    background-color: #1d1b31;
    color: white;
}

/* Ensuring consistent margin for the icons */
.dropdown-item i {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Pastikan container memiliki tinggi minimal 100% viewport */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures wrapper takes full viewport height */
}

footer {
    background-color: #e4e9f7;
    padding: 5px;
    text-align: center;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content p {
    margin: 0;
    font-size: 12px;
}

/* Custom styles for Select2 */
.select2-custom {
    width: 100% !important;
}
.select2-container {
    width: 100% !important;
}
/* Custom styles for Dropzone */
.dropzone {
    min-height: 150px; /* Minimum height */
    border: 2px dashed #007bff; /* Dashed border style */
    background-color: #f8f9fa; /* Background color */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container.mt-4 {
    margin-bottom: 0; /* Menghapus margin bawah */
}
.container:not(:first-of-type) {
    margin-top: 0; /* Menghapus margin atas untuk kontainer setelah yang pertama */
}
/* Mengurangi margin dan padding pada elemen di dalam kontainer */
.card {
    margin-bottom: 1rem; /* Atur sesuai kebutuhan */
    padding: 2rem; /* Atur sesuai kebutuhan */
}

.select2-container--default .select2-selection--single {
    height: calc(2.25rem + 2px) !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 14px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 1.5 !important;
}

.dropzone {
    min-height: 120px;
    border: 2px dashed #007bff;
    border-radius: 5px;
    background: #f9f9f9;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.dz-message {
    font-size: 1.25rem;
    color: #6c757d;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn-close:hover {
    opacity: 0.75;
}

/* dashboard card */

body {
    font-family: "Raleway", sans-serif;
}

.main-part {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 0px 5px;
}

.cpanel {
    width: 32%;
    display: inline-block;
    background-color: #34495e;
    color: #fff;
    margin-top: 50px;
}

.icon-part i {
    font-size: 30px;
    /* Adjust this size to fit your circle */
    width: 60px;
    /* Adjust width to be the same as the height */
    height: 60px;
    /* Adjust height to match the width */
    line-height: 60px;
    /* Vertically centers the icon */
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #34495e;
    display: inline-block;
    margin-top: -25px;
    margin-bottom: 10px;
}

.icon-part p {
    margin: 0px;
    font-size: 20px;
    padding-bottom: 10px;
}

.card-content-part {
    background-color: #2f4254;
    padding: 5px 0px;
}

.cpanel .card-content-part:hover {
    background-color: #283847;
    cursor: pointer;
}

.cpanel-green .card-content-part:hover {
    background-color: #117460;
    cursor: pointer;
}

.cpanel-blue .card-content-part:hover {
    background-color: #206491;
    cursor: pointer;
}

.card-content-part a {
    color: #fff;
    text-decoration: none;
}

.cpanel-green .icon-part,
.cpanel-green .icon-part i {
    background-color: #16a085;
}

.cpanel-green .card-content-part {
    background-color: #149077;
}

.cpanel-blue .icon-part,
.cpanel-blue .icon-part i {
    background-color: #2980b9;
}

.cpanel-blue .card-content-part {
    background-color: #2573a6;
}

.select2-results__option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal {
    z-index: 1050; /* Nilai lebih tinggi dari sidebar */
}
body.modal-open {
    overflow: hidden;
}